html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  padding-bottom: 44px;
  background-color: #f5f5f5;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 56px; /* Set the fixed height of the footer here */
  line-height: 56px; /* Vertically center the text there */
  background-color: #c5c5c5;
}

.my-form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.my-form-control:focus {
  z-index: 2;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
