{% extends "base_generic.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ static('css/login.css') }}">
{% endblock %}

{% block navbar %}{% endblock %}

{% set login = url_for('auth.login') %}

{% block content %}
    {% set signup = url_for('auth.sign_up') %}
    <form action="{{ login }}" method="post" id="login-form" class="form-signin">
        <h4 class="mb-3 mt-3 ml-1 font-weight-normal" style="text-align: center;">Log in</h4>
        <input type="text" name="user" autofocus="" maxlength="254" required="" id="id_username" class="my-form-control form-control" placeholder="Username">
        <input type="password" name="pass" required="" id="id_password" class="my-form-control form-control" placeholder="Password">
        <input type="hidden" name="next" value="{{ next }}" />
        <div class="btn-group-vertical btn-block">
            <button type="submit" class="btn btn-lg btn-primary">Login</button>
        </div>
            <br>
            <P class="mb-3 mt-3 ml-1 font-weight-normal" style="text-align: center;"> or </P>
            <P class="mb-3 mt-3 ml-1 font-weight-normal" style="text-align: center;"><a href="{{ signup }}">Sign up</a> </P>
    </form>

{% endblock %}
