{% extends "base_generic.html" %}

{% block head %}
    {#    <script src="{{ static('js/surveys_new.js') }}"></script>#}
{% endblock %}


{% block content %}
    <style>
        body
        {
            margin-bottom: 70px;
        }

        .myLabel
        {
            width: 200px;
            padding-right: 10px;
            padding-left: 20px;
            display: block!important;
            text-align: right;
        }
    </style>

    <h3>{{ survey.title }}</h3>
    {% if survey.permit_anon_answer %}
        <h6 class="text-muted">This answer is Anonymous</h6>
    {% else %}
        <h6 class="text-muted">This answer will be posted under the name {{ user.get_full_name() }}</h6>
    {% endif %}

    <div id="itemsContainer" class="col-xl-10 ml-auto mr-auto">
        {% for q in questions %}
            {% if q.get_type() == QuestionTypes.OpenQuestion %}
                <div class="card mt-4">
                    <div class="card-header">
                        <h5 class="mb-0">{{ q.title }}</h5>
                        {% if q.open.mandatory %}
                            <span class="text-danger">Mandatory Question</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <span class="">{{ q.text }}</span>
                        </div>
                        <div class="mb-2">
                            <span class="">{{ q.open.regex_description }}</span>
                        </div>
                        <div class="form mt-2">
                            <label class="font-weight-bold pr-3">Answer:</label>
                            <input id="q{{ q.id }}" class="form-control item-answer" type="text">
                        </div>
                    </div>
                </div>
            {% elif q.get_type() == QuestionTypes.ClosedQuestion %}
                <div class="card mt-4">
                    <div class="card-header">
                        <h5 class="mb-0">{{ q.title }}</h5>
                        {% if q.closed.min_n_of_answer == q.closed.max_n_of_answer %}
                            <span class="text-muted">Select {{ q.closed.max_n_of_answer }} answer</span>
                        {% else %}
                            <span class="text-muted">From {{ q.closed.min_n_of_answer }} to {{ q.closed.max_n_of_answer }} answer</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <span class="">{{ q.text }}</span>
                        </div>
                        <div class="mb-2">
                            <table class="table table-striped">
                                <tbody>
                                {% for o in q.closed.options %}
                                    <tr>
                                        <td>{{ o.text }}</td>
                                        {% if q.closed.min_n_of_answer == 1 and q.closed.max_n_of_answer == 1 %}
                                            <td><input id="o{{ o.id }}" type="radio" name="{{ q.id }}"></td>
                                        {% else %}
                                            <td><input id="o{{ o.id }}" type="checkbox"></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div class="row justify-content-center align-items-center fixed-bottom" style="background-color: #d3d3d3; height: 70px">
        <div class="col-auto">
            <div class="align-bottom" style="display: inline-block">
                <div id="loader_save" class="loader" style="height: 25px;width: 25px;display: none;"></div>
            </div>
            <button id="save" class="btn btn-md btn-primary">Salva</button>
        </div>
    </div>

    <script>
        let ItemType = {
            OpenQuestion: {value: 1, name: "Open-ended Question"},
            ClosedQuestion: {value: 2, name: "Closed-ended Question"},
        };

        function getData()
        {
            let temp;
            let data = {};
            data['survey_id'] = {{ survey.id }};
            data['answers'] = [];

            {% for q in questions %}
                {% if q.get_type() == QuestionTypes.OpenQuestion %}
                    data['answers'].push({
                        'type': ItemType.OpenQuestion.value.toString(),
                        'text': $('#q{{ q.id }}').val(),
                        'open_question_id': {{ q.id }}
                    });
                {% elif q.get_type() == QuestionTypes.ClosedQuestion %}
                    {% for o in q.closed.options %}
                        temp = $('#o{{ o.id }}').is(':checked');
                        if(temp)
                            data['answers'].push({
                                'type': ItemType.ClosedQuestion.value.toString(),
                                'closed_question_option_id': {{ o.id }}
                            });
                    {% endfor %}
                {% endif %}
            {% endfor %}

            return data;
        }

        'use strict';
        $(function () {
            let $save = $('#save');
            $save.click(function ()
            {
                $save.addClass('disabled');

                $.post(
                {
                    url : '/answer/',
                    data: JSON.stringify(getData()),
                    dataType : 'json',
                    contentType: "application/json"
                })
                .done(function (response)
                {

                })
                .fail(function ()
                {
                    notifyDanger("Errore durante l'inserimento");
                })
            });
        })
    </script>
{% endblock %}
