{% extends "base_generic.html" %}

{% block head %}
    <script>const data = {{ data | tojson }} </script>
    <script src="{{ static('js/summary_survey.js') }}"></script>
{% endblock %}


{% block content %}
    <style>
        canvas{
            max-width: 1000px; !important;
            max-height: 1000px;!important;
            padding-left: 0;
            padding-right: 0;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10px;
            display: block;
        }
    </style>

    <h3>{{ survey.title }}</h3>
    <h6>N.Answers {{ survey.answers|length }}</h6>
    {% if survey.permit_anon_answer %}
        <h6 class="text-muted">This survey is Anonymous</h6>
    {% else %}
        <h6 class="text-muted">This survey is not Anonymous</h6>
    {% endif %}

    <div id="itemsContainer" class="col-xl-10 ml-auto mr-auto">
        {% for q in questions %}
            {% if q.get_type() == QuestionTypes.OpenQuestion %}
                <div class="card mt-4">
                    <div class="card-header">
                        <h5 class="mb-0">{{ q.title }}</h5>
                        {% if q.open.mandatory %}
                            <span class="text-danger">Mandatory Question</span>
                            <br>
                        {% endif %}
                        <span class="text-muted">{{ q.open.regex_description }}</span>
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <span class="">{{ q.text }}</span>
                        </div>
                        <div class="table-responsive" style="max-height: 300px;">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Answers</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for answer in q.answers %}
                                    <tr>
                                        <td>{{ answer }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% elif q.get_type() == QuestionTypes.ClosedQuestion %}
                <div class="card mt-4">
                    <div class="card-header">
                        <h5 class="mb-0">{{ q.title }}</h5>
                        {% if q.closed.min_n_of_answer == q.closed.max_n_of_answer %}
                            <span class="text-muted">{{ q.closed.max_n_of_answer }} answer permitted</span>
                        {% else %}
                            <span class="text-muted">From {{ q.closed.min_n_of_answer }} to {{ q.closed.max_n_of_answer }} answer permitted</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <span class="">{{ q.text }}</span>
                        </div>
                        <div class="mb-2">
                            <table class="table table-striped">
                                <tbody>
                                {% for o in q.closed.options %}
                                    <tr>
                                        <td>{{ o.text }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                <canvas id="myChart{{ q.id }}" ></canvas>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        'use strict';
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
