{% extends "base_generic.html" %}

{% block head %}
    {#    <script src="{{ static('js/surveys_new.js') }}"></script>#}
{% endblock %}


{% block content %}
    <style>
        .myLabel
        {
            width: 200px;
            padding-right: 10px;
            padding-left: 20px;
            display: block!important;
            text-align: right;
        }
    </style>

    <h3>{{ survey.title }}</h3>
    {% if survey.permit_anon_answer %}
        <h6 class="text-muted">This answer is Anonymous</h6>
    {% else %}
        <h6 class="text-muted">This answer will be posted under the name ...</h6>
    {% endif %}

    <div id="itemsContainer" class="col-xl-10 ml-auto mr-auto">
        {% for q in questions %}
            {% if q.get_type() == QuestionTypes.OpenQuestion %}
                <div class="card mt-4">
                    <div class="card-header">
                        <h5 class="mb-0">{{ q.title }}</h5>
                        {% if q.open.mandatory %}
                            <span class="text-danger">Mandatory Question</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <span class="">{{ q.text }}</span>
                        </div>
                        <div class="mb-2">
                            <span class="">{{ q.open.regex_description }}</span>
                        </div>
                    </div>
                </div>
            {% elif q.get_type() == QuestionTypes.ClosedQuestion %}
                <div class="card mt-4">
                    <div class="card-header">
                        <h5 class="mb-0">{{ q.title }}</h5>
                        {% if q.closed.min_n_of_answer == q.closed.max_n_of_answer %}
                            <span class="text-muted">Select {{ q.closed.max_n_of_answer }} answer</span>
                        {% else %}
                            <span class="text-muted">From {{ q.closed.min_n_of_answer }} to {{ q.closed.max_n_of_answer }} answer</span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="mb-2">
                            <span class="">{{ q.text }}</span>
                        </div>
                        <div class="mb-2">
                            <table class="table table-striped">
                                <tbody>
                                {% for o in q.closed.options %}
                                    <tr>
                                        <td>{{ o.text }}</td>
                                        <td class="text-right">percentuale</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        'use strict';
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
{% endblock %}
