{% extends "base_generic.html" %}

{% block head %}
    {#    <script src="{{ static('js/reserved.js') }}"></script>#}
{% endblock %}

{% set survey = url_for('survey.get_survey_all') %}
{% set me = url_for('front.reserved_area') %}

{% block content %}
    <h3>Welcome on your reserved area {{ user.get_full_name() }}</h3>
    <p>Your Surveys:</p>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Share</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{item.title}}</td>
                <td><a class="btn btn-primary" href="{{ survey }}{{ item.id }}/answer"><i class="fas fa-share-alt"></i></a></td>
                <td><button class="btn btn-danger" id="delete_survey{{ item.id }}"><i class="fas fa-trash"></i></button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        $(function () {
            let error = "{{ request.args.get('error') }}";
            let success = "{{ request.args.get('success') }}";
            if(error && error !== "" && error !== "None")
                notifyDanger(error)
            if(success && success !== "" && success !== "None")
                notifySuccess(success)


            {% for item in data %}
                $('#delete_survey{{ item.id }}').click(function ()
                {
                    $.ajax({
                        type: 'DELETE',
                        url : '{{ survey }}{{ item.id }}/',
                    })
                    .done(function (response)
                    {
                        location.href='{{ me }}?success=Survey deleted';
                    })
                    .fail(function ()
                    {
                        location.href='{{ me }}?error=Error in delete survey';
                    })
                });
            {% endfor %}
        });
    </script>
{% endblock %}
