{% extends "base_generic.html" %}

{% block head %}
{#    <script src="{{ static('js/reserved.js') }}"></script>#}
{% endblock %}

{% set survey = url_for('survey.get_survey_all') %}

{% block content %}
    <h3>Welcome on your reserved area {{ user.get_full_name() }}</h3>
    <p>Your Surveys:</p>
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Share</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        {% set count = 1 %}
        {% for item in data %}
            <tr>
                <th scope="row">{{ count }}</th>
                <td>{{item.title}}</td>
                <td><a class="btn btn-primary" href="{{ survey }}{{ item.id }}/answer"><i class="fas fa-share-alt"></i></a></td>
                <td><a class="btn btn-danger" href=""><i class="fas fa-trash"></i></a></td>
            </tr>
            {% set count = count + 1 %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
