<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="../static/images/call-center.png" sizes="32x32" />
  <link rel="icon" type="image/png" href="../static/images/call-center.png" sizes="16x16" />
  <title>Surveys</title>
  <!--stylesheet-->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <script src="https://kit.fontawesome.com/0f648cc444.js" crossorigin="anonymous"></script>
  <link href="../static/styles/styles.css" rel="stylesheet" type="text/css">
  <link href="../static/styles/custom-responsive-styles.css" rel="stylesheet" type="text/css">
  <!--scripts-->
  <script type="text/javascript" src="../static/scripts/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/scripts/all-plugins.js"></script>
  <script type="text/javascript" src="../static/scripts/plugins-activate.js"></script>

</head>

<body id="page-top">
  <!-- Navigation -->
  <div class="logo">
    <i class="fa fa-database" aria-hidden="true"><span>Surveys</span></i>
  </div>
  <a class="menu-toggle rounded" href="#">
    <i class="fa fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a class="smooth-scroll" href="#Header"></a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#page-top">Home</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#About">About us</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/log" class="button">Login</a>
      </li>
      <li class="sidebar-nav-item">
        <a href="/sign_up" class="button" >Sign up</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Testimonials">TODO</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="smooth-scroll" href="#Contact">TODO</a>
      </li>
    </ul>
  </nav>
  <!-- Header Starts -->

  <section id="Banner" class="content-section">
    <div class="container content-wrap text-center">
      <h1>Progetto DB 20/21</h1>
      <h3>
          <em>A smart site to create your own surveys</em>
        </h3>
      <a class="btn btn-primary btn-xl button" href="/log">Login</a>
        <a class="btn btn-primary btn-xl button" href="/sign_up">Sign up</a>
    </div>
    <div class="overlay"></div>
  </section>
  <!-- Header Ends -->
  <!-- About Us Starts -->
  <section id="About" class="content-section">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12">
          <div class="block-heading">
            <h2>About Us</h2>
          </div>
          <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
      </div>
    </div>
  </section>
  <!-- About Us Starts -->
  <script src="https://kit.fontawesome.com/0f648cc444.js" crossorigin="anonymous"></script>
  <section id="Services" class="content-section text-center">
    <div class="container">
      <div class="block-heading">
        <h2>What We Offer</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon yellow">
              <div class="front-content">
                <span class="fas fa-users fa-l" aria-hidden="true"></span>
                <h3>Own surveys history</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>surveys history</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon orange">
              <div class="front-content">
                  <span class="fas fa-poll-h fa-l"></span>
                <h3>Anonymous surveys</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>Anonymous survers</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box ">
            <div class="service-icon red">
              <div class="front-content">
                <span class="fas fa-bolt fa-l" aria-hidden="true"></span>
                <h3>free coca cola</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>free coca cola</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="service-box">
            <div class="service-icon grey">
              <div class="front-content">
                <span class="fas fa-box-open fa-l"></span>
                <h3>free PS5</h3>
              </div>
            </div>
            <div class="service-content">
              <h3>free PS5</h3>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content-section text-center" id="Portfolio">
    <div class="container">
      <div class="block-heading">
        <h2>Portfolio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
      </div>
      <div class="portfolio-wrapper clearfix">
        <a class="each-portfolio" data-fancybox="gallery" href="../static/images/shystory.jpg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="../static/images/shystory.jpg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Title</h5>
              <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="../static/images/p-three.jpeg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="../static/images/p-three.jpeg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Title</h5>
              <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="../static/images/shystory.jpg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="../static/images/shystory.jpg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Title</h5>
              <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="../static/images/p-five.jpeg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="../static/images/p-five.jpeg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Title</h5>
              <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="../static/images/p-six.jpeg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="../static/images/p-six.jpeg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Title</h5>
              <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
        <a class="each-portfolio" data-fancybox="gallery" href="../static/images/p-two.jpeg">
          <div class="content hover-cont-wrap">
            <div class="content-overlay"></div>
            <img class="content-image" src="../static/images/p-two.jpeg">
            <div class="content-details fadeIn-bottom">
              <h5 class="p-title">Title</h5>
              <p class="p-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <span class="zoom"><i class="fa fa-search-plus"></i></span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- TESTIMONIALS -->
  <!-- END OF TESTIMONIALS -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline">
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="javascript:void(0)">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
        </li>
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white" href="javascript:void(0)">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
        </li>
      </ul>
      <p class="text-muted small mb-0">Designed by <a href="https://www.position2.com/" target="_balnk"/> </p>
    </div>
  </footer>
</body>

</html>