# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\lxgas\Desktop\unive\Programmaizone ad oggetti\MOD 2\code corso\Progetto-BD-2021\Site_code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
